<h1 class="text-white">Welcome to Mr. Mocktail</h1>

<%= link_to "+Drink", new_cocktail_path, class: "btn btn-ghost" %>


<div class="container">
<div class="cup">
<div id="loader">
    <div id="lemon"></div>
    <div id="straw"></div>
    <div id="glass">
        <div id="cubes">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div id="drink"></div>
        <span id="counter"></span>
    </div>
    <div id="coaster"></div>
</div>
<%= link_to "MENU", cocktails_path, class: "btn btn-ghost" %>
<!-- <a class="btn btn-flat" href="#">MOCKTAIL MENU</a> -->

<footer>one sec..<br>Mocktail coming up...</footer>
</div>
</div>

